#platform=x86, AMD64, or Intel EM64T
#version=DEVEL

# Kickstart for Centos, Ubuntu, Fedora
install

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --iscrypted XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# System language
lang en_US

# Firewall configuration
firewall --enabled

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text mode install
text

# SELinux configuration
selinux --enforcing

# Do not configure the X Window System
skipx

# Network information
network  --bootproto=dhcp --device=eth0 --hostname fedora27
#%include /tmp/network.ks

# Reboot after installation
reboot

# System timezone
timezone Europe/Bratislava

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
#part swap --fstype="swap" --ondisk=vda --size=1024
#part /boot --asprimary --fstype="ext2" --ondisk=vda --size=500
#part / --fstype="ext4" --grow --ondisk=vda --size=1
autopart

# User
user --name=hero0 --password=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX --iscrypted

%packages
@core
%end

%post --interpreter /bin/bash
mkdir -m700 /home/hero0/.ssh/
cat <<EOF >/home/hero0/.ssh/authorized_keys
ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EOF

chmod 0600 /home/hero0/.ssh/authorized_keys
chown -R hero0:hero0 /home/hero0/.ssh


if [ -f /usr/bin/yum ]
then
  /usr/bin/yum update -y
fi

if [ -f /usr/bin/apt-get ]
then
  /usr/bin/apt-get update && /usr/bin/apt-get -y upgrade
fi
%end

